<!DOCTYPE html>

<html>
    <head>
        <!-- Primary Meta Tags -->
        <title>About Us — Black Swan 3D Printing</title>
        <meta name="title" content="About Us — Black Swan 3D Printing" />
        <meta name="description" content="Learn more about the company that provides high-quality 3D printed works." />

        <!-- Open Graph / Facebook -->
        <meta property="og:type" content="website" />
        <meta property="og:url" content="https://blackswan3d.com/about/" />
        <meta property="og:title" content="About Us — Black Swan 3D Printing" />
        <meta property="og:description" content="Learn more about the company that provides high-quality 3D printed works." />
        <meta property="og:image" content="https://blackswan3d.com/static/images/header.png" />

        <!-- Twitter -->
        <meta property="twitter:card" content="summary_large_image" />
        <meta property="twitter:url" content="https://blackswan3d.com/about/" />
        <meta property="twitter:title" content="About Us — Black Swan 3D Printing" />
        <meta property="twitter:description" content="Learn more about the company that provides high-quality 3D printed works." />
        <meta property="twitter:image" content="https://blackswan3d.com/static/images/header.png" />


        <link rel="stylesheet" href='/static/styles/about.css'>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="https://blackswan3d.com/static/images/favicon.ico" sizes="any">
        <link rel="icon" href="https://blackswan3d.com/static/images/favicon.svg" type="image/svg+xml">

    </head>
    <body>
        <header>
            <img src="https://blackswan3d.com/static/images/transparent-logo-bird.svg" width="100" height="100">
            <div id="header-menu">
                <button id="button-about" class="header-menu-button">About</button>
                <button id="button-our-work" class="header-menu-button">Our Work</button>
                <button id="button-team" class="header-menu-button">Our Team</button>
            </div>
        </header>

        <script src="../static/js/buttons.js"></script>

        <div id="content">
            <div id="rare-quality">
                <h1 id="rare-quality-text">ABOUT US</h1>
            </div>

            <div id="our-mission">
                <div class="photo-container">
                    <img src="/static/images/joseph.jpeg" alt="Photo of Joseph Sweatt" height="200" width="200">
                    <h2>Joseph Sweatt</h2>
                    <p>Founder</p>
                </div>

                <div id="mission-text">
                    <h1>Our Mission</h1>
                    <p>To create products of a remarkable</p>

                    <p>quality using innovative designs.</p>
                </div>
            </div>

            <div id="history">
                <div id="joseph-swan-quote">
                    <h3>"An inventor is an opportunist, one who takes occasion by the hand; who, having seen where some want exists, successfully applies the right means to attain the desired end"</h3>
                    <br>
                    <h3>- Sir Joseph Swan</h3>
                </div>
                
                <h1 id="company-history">Company History</h1>

                <p>I founded Black Swan 3D Printing (BS3D) in October of 2022- based on an impulse to design and print all of my favorite pop culture replicas. However, my passion for digital modeling and additive manufacturing was there long beforehand. From Ironman helmets to DND minis, I've researched and sketched my designs for years. The purchase of my first 3D printer enabled me to advance my engineering and additive manufacturing dreams.</p>
                <br>
                <p>I named the company Black Swan for two reasons. The first was Sir Joseph Wilson Swan- an English physicist, chemist, and inventor. His developments led to the invention of the first Carbon Filament Lightbulb. As an additive manufacturer,  I think of how such a small filament can become not only one of the strongest and lightest materials but one that can radiate an incandescent light depending on your use. An insight I use for materials and equipment selection. </p>
                <br>
                <p>The second reason was the legend of a Black Swan. Before its discovery, a Black Swan was thought of as a myth. Many ancient metaphors viewed a "Black Swan" event as so unlikely it does not exist, similar to a Black Swan. However, with the animal's discovery in the late 17th Century, the metaphor changed to become an unseen event that caused a major impact. BS3D's goal is to create products of rare quality and creativity in homage to the magnificent creature.</p>
                <br>
                <p>Since Black Swan's inception, I have made several models and prints for friends, family, clubs, and organizations. Additionally, Black Swan 3D Printing has grown to include more staff to aid in all aspects of the business. Enabling the growth of several engineers and artists in our pursuits. I started this venture in hopes of showing off my work and designs. To implement techniques and materials of high quality. Not unlike a black swan.</p>
            </div>
        </div>

        <footer>
            <div id="footer-socials">
                <div class="footer-socials-logo"><a class="footer-socials-colors" href="https://www.etsy.com/shop/blackswanprinters/" target="_blank" rel="noopener noreferrer"><img src="https://blackswan3d.com/static/images/etsy.png" alt="Our Etsy shop" height="29" width="auto"></a></div>
                <div class="footer-socials-logo"><a class="footer-socials-colors" href="https://www.instagram.com/blackswan3dprinting/" target="_blank" rel="noopener noreferrer"><img src="https://blackswan3d.com/static/images/instagram.svg" alt="Our Instagram page" height="29" width="auto"></a></div>
                <div class="footer-socials-logo"><a class="footer-socials-colors" href="https://www.linkedin.com/company/blackswan3dprinting/" target="_blank" rel="noopener noreferrer"><img src="https://blackswan3d.com/static/images/linkedin.png" alt="Our LinkedIn page" height="29" width="auto"></a></div>
                <div class="footer-socials-logo"><a class="footer-socials-colors" href="https://tiktok.com/@blackswan3dprinters/" target="_blank" rel="noopener noreferrer"><img src="https://blackswan3d.com/static/images/tiktok.png" alt="Our TikTok page" height="29" width="auto"></a></div>
            </div>
            
            <br>

            <div id="footer-contact">
                <p><strong>Contact us!</strong></p>
                <p>Irvine, CA 92617</p>
                <p><a href="tel:+19313025988">(931) 302-5988</a></p>
                <p><a href="mailto:contact@blackswan3d.com">contact@blackswan3d.com</a></p>
            </div>
        </footer>
    </body>
</html>