<!DOCTYPE html>

<html>
    <head>
        <!-- Primary Meta Tags -->
        <title>About Us — Black Swan 3D Printing</title>
        <meta name="title" content="About Us — Black Swan 3D Printing" />
        <meta name="description" content="Learn more about the company that provides high-quality 3D printed works." />

        <!-- Open Graph / Facebook -->
        <meta property="og:type" content="website" />
        <meta property="og:url" content="https://blackswan3d.com/about/" />
        <meta property="og:title" content="About Us — Black Swan 3D Printing" />
        <meta property="og:description" content="Learn more about the company that provides high-quality 3D printed works." />
        <meta property="og:image" content="https://blackswan3d.com/static/images/header.png" />

        <!-- Twitter -->
        <meta property="twitter:card" content="summary_large_image" />
        <meta property="twitter:url" content="https://blackswan3d.com/about/" />
        <meta property="twitter:title" content="About Us — Black Swan 3D Printing" />
        <meta property="twitter:description" content="Learn more about the company that provides high-quality 3D printed works." />
        <meta property="twitter:image" content="https://blackswan3d.com/static/images/header.png" />


        <link rel="stylesheet" href='/static/styles/about.css'>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="https://blackswan3d.com/static/images/favicon.ico" sizes="any">
        <link rel="icon" href="https://blackswan3d.com/static/images/favicon.svg" type="image/svg+xml">

    </head>
    <body>
        <header>
            <img src="https://blackswan3d.com/static/images/transparent-logo-bird.svg" width="100" height="100">
            <div id="header-menu">
                <button id="button-about" class="header-menu-button">About</button>
                <button id="button-our-work" class="header-menu-button">Our Work</button>
                <button id="button-team" class="header-menu-button">The Team</button>
            </div>
        </header>

        <script src="../static/js/buttons.js"></script>

        <div id="content">
            <div id="our-mission">
                <div id="joseph-container">
                    <img src="../static/images/joseph.jpeg" alt="Photo of Joseph Sweatt" width="200" height="200">
                </div>

                <div id="mission-text">
                    <h1>Our Mission</h1>
                    <p>To create products of a remarkable quality using innovative designs.</p>
                </div>
            </div>

            <div id="history">
                <h1>Company History</h1>

                <div id="joseph-swan-quote">
                    <h3>"An inventor is an opportunist, one who takes occasion by the hand; who, having seen where some want exists, successfully applies the right means to attain the desired end"</h3>
                    <br>
                    <p>- Sir Joseph Swan</p>
                </div>

                <p>I found black swan on an impulse to design and print all of my favorite pop culture replicas in October of 2022. However, my passion for digital modeling and additive manufacturing was there long beforehand. From Ironman Helmets to DND models I researched and sketched my designs for years. However, it was the purchase of my first 3d printer that enable me to advance my engineering and additive manufacturing dreams. </p>
                <br>
                <p>I named the company Black Swan for 2 reasons. The first was Sir Joseph Wilson Swan. An English physicist chemist and inventor. His developments lead to the invention of the first Carbon Filament Lightbulb. As an additive manufacturer think of how such a small filament can become not only one of the strongest and lightest materials but own that can radiate an incandescent light depending on how your use it. An insight I constantly search for with the materials and equipment I use. The second reason was the legend of a Black Swan. Before its discovery, a black swan was seen as a myth. Something so rare and unseen that it creates major effects around it. It is the goal of my printing company and a checkpoint for all of the products we make.</p>
                <br>
                <p>	Since I started, I have made several models and prints for friends, family, and club organizations. Additionally, Black Swan Printers has grown to include more staff to aid in all aspects of the business. From Design and modeling to user interface and administration. IT has allowed the portfolio and growth of several engineers and artists in their pursuits. I started this venture in hopes to show off my work and designs and create rare quality designs. To implement techniques and materials of high quality. Not unlike a black swan</p>
            </div>
        </div>

        <footer>
            <div id="footer-socials">
                <div class="footer-socials-logo"><a class="footer-socials-colors" href="https://www.etsy.com/shop/blackswanprinters/" target="_blank" rel="noopener noreferrer"><img src="https://blackswan3d.com/static/images/etsy.png" alt="Our Etsy shop" height="29" width="auto"></a></div>
                <div class="footer-socials-logo"><a class="footer-socials-colors" href="https://www.instagram.com/blackswan3dprinting/" target="_blank" rel="noopener noreferrer"><img src="https://blackswan3d.com/static/images/instagram.svg" alt="Our Instagram page" height="29" width="auto"></a></div>
                <div class="footer-socials-logo"><a class="footer-socials-colors" href="https://www.linkedin.com/company/blackswan3dprinting/" target="_blank" rel="noopener noreferrer"><img src="https://blackswan3d.com/static/images/linkedin.png" alt="Our LinkedIn page" height="29" width="auto"></a></div>
                <div class="footer-socials-logo"><a class="footer-socials-colors" href="https://tiktok.com/@blackswan3dprinters/" target="_blank" rel="noopener noreferrer"><img src="https://blackswan3d.com/static/images/tiktok.png" alt="Our TikTok page" height="29" width="auto"></a></div>
            </div>
            
            <br>

            <div id="footer-contact">
                <p><strong>Contact us!</strong></p>
                <p>Irvine, CA 92617</p>
                <p><a href="tel:+19313025988">(931) 302-5988</a></p>
                <p><a href="mailto:contact@blackswan3d.com">contact@blackswan3d.com</a></p>
            </div>
        </footer>
    </body>
</html>