<!DOCTYPE html>

<html>
    <head>
        <!-- Primary Meta Tags -->
        <title>Black Swan 3D Printing — High-Quality Prints for Your Creations</title>
        <meta name="title" content="Black Swan 3D Printing — High-Quality Prints for Your Creations" />
        <meta name="description" content="Black Swan 3D Printing is an upcoming startup that will provide high-quality 3D printed works." />

        <!-- Open Graph / Facebook -->
        <meta property="og:type" content="website" />
        <meta property="og:url" content="https://blackswan3d.com/" />
        <meta property="og:title" content="Black Swan 3D Printing — High-Quality Prints for Your Creations" />
        <meta property="og:description" content="Black Swan 3D Printing is an upcoming startup that will provide high-quality 3D printed works." />
        <meta property="og:image" content="https://blackswan3d.com/static/images/header.png" />

        <!-- Twitter -->
        <meta property="twitter:card" content="summary_large_image" />
        <meta property="twitter:url" content="https://blackswan3d.com/" />
        <meta property="twitter:title" content="Black Swan 3D Printing — High-Quality Prints for Your Creations" />
        <meta property="twitter:description" content="Black Swan 3D Printing is an upcoming startup that will provide high-quality 3D printed works." />
        <meta property="twitter:image" content="https://blackswan3d.com/static/images/header.png" />


        <link rel="stylesheet" href='static/styles/index.css'>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="static/images/favicon.ico" sizes="any">
        <link rel="icon" href="static/images/favicon.svg" type="image/svg+xml">

    </head>
    <body>
        <header>
            <img src="static/images/transparent-logo-bird.svg" width="100" height="100">
            <div id="header-menu">
                <button class="header-menu-button">About</button>
                <button class="header-menu-button">Shop</button>
                <button class="header-menu-button">Our Work</button>
                <button class="header-menu-button">The Team</button>
            </div>
        </header>
    </body>
</html>