<!DOCTYPE html>

<html>
    <head>
        <!-- Primary Meta Tags -->
        <title>Black Swan 3D Printing — High-Quality Prints for Your Creations</title>
        <meta name="title" content="Black Swan 3D Printing — High-Quality Prints for Your Creations" />
        <meta name="description" content="Black Swan 3D Printing is an upcoming startup that will provide high-quality 3D printed works." />

        <!-- Open Graph / Facebook -->
        <meta property="og:type" content="website" />
        <meta property="og:url" content="https://blackswan3d.com/" />
        <meta property="og:title" content="Black Swan 3D Printing — High-Quality Prints for Your Creations" />
        <meta property="og:description" content="Black Swan 3D Printing is an upcoming startup that will provide high-quality 3D printed works." />
        <meta property="og:image" content="https://blackswan3d.com/static/images/header.png" />

        <!-- Twitter -->
        <meta property="twitter:card" content="summary_large_image" />
        <meta property="twitter:url" content="https://blackswan3d.com/" />
        <meta property="twitter:title" content="Black Swan 3D Printing — High-Quality Prints for Your Creations" />
        <meta property="twitter:description" content="Black Swan 3D Printing is an upcoming startup that will provide high-quality 3D printed works." />
        <meta property="twitter:image" content="https://blackswan3d.com/static/images/header.png" />


        <link rel="stylesheet" href='static/styles/index.css'>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="static/images/favicon.ico" sizes="any">
        <link rel="icon" href="static/images/favicon.svg" type="image/svg+xml">

    </head>
    <body>
        <header>
            <img src="static/images/transparent-logo-bird.svg" width="100" height="100">
            <div id="header-menu">
                <button class="header-menu-button">About</button>
                <button class="header-menu-button">Shop</button>
                <button class="header-menu-button">Our Work</button>
                <button class="header-menu-button">The Team</button>
            </div>
        </header>

        <div id="content">
            <div id="rare-quality">
                <h1>RARE QUALITY AND DESIGN</h1>
            </div>
        </div>

        <footer>
            <div id="footer-socials">
                <div class="footer-socials-logo"><a class="footer-socials-colors" href="https://www.etsy.com/shop/blackswanprinters/" target="_blank" rel="noopener noreferrer"><img src="static/images/etsy.png" alt="Etsy" height="29" width="auto"></a></div>
                <div class="footer-socials-logo"><a class="footer-socials-colors" href="https://www.instagram.com/blackswan3dprinting/" target="_blank" rel="noopener noreferrer"><img src="static/images/instagram.svg" alt="Instagram" height="29" width="auto"></a></div>
                <div class="footer-socials-logo"><a class="footer-socials-colors" href="https://www.linkedin.com/company/98570434/" target="_blank" rel="noopener noreferrer"><img src="static/images/linkedin.png" alt="LinkedIn" height="29" width="auto"></a></div>
            </div>
            
            <br>

            <div id="footer-contact">
                <p><strong>Contact us!</strong></p>
                <p>Irvine, CA 92617</p>
                <p><a href="tel:+19313025988">(931) 302-5988</a></p>
                <p><a href="mailto:contact@blackswan3d.com">contact@blackswan3d.com</a></p>
            </div>
        </footer>
    </body>
</html>