<!DOCTYPE html>

<html>
    <head>
        <title>Black Swan 3D Printing</title>
        <meta name="title" content="Black Swan 3D Printing"/>
        <meta name="description" content="Black Swan 3D Printing is an upcoming startup that will provide high quality 3D printed works."/>

        <link rel="stylesheet" href='static/styles/index.css'>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="static/images/favicon.ico" sizes="any">
        <link rel="icon" href="static/images/favicon.svg" type="image/svg+xml">
        
        <!-- Open Graph / Facebook -->
        <meta property="og:type" content="website" />
        <meta property="og:url" content="https://blackswan3d.com/" />
        <meta property="og:title" content="Black Swan 3D Printing" />
        <meta property="og:description" content="Black Swan 3D Printing is an upcoming startup that will provide high quality 3D printed works." />
        <meta property="og:image" content="https://blackswan3d.com/static/images/header.svg" />

        <!-- Twitter -->
        <meta property="twitter:card" content="summary_large_image" />
        <meta property="twitter:url" content="https://blackswan3d.com/" />
        <meta property="twitter:title" content="Black Swan 3D Printing" />
        <meta property="twitter:description" content="Black Swan 3D Printing is an upcoming startup that will provide high quality 3D printed works." />
        <meta property="twitter:image" content="https://blackswan3d.com/static/images/header.svg" />
    </head>
    <body>
        <img src="static/images/transparent-logo-bird.svg" alt="Black Swan logo" height="100" width="auto">

        <div>
            <h1 id="name">BLACK SWAN</h1>
            <h2 id="construction">is under construction.</h2>
        </div>

        <div class="footer-socials-logo"><a class="footer-socials-colors" href="https://www.instagram.com/blackswan3dprinting/" target="_blank" rel="noopener noreferrer"><img src="static/images/instagram.svg" alt="Instagram" height=auto width="29"></a></div>
    </body>
</html>