<!DOCTYPE html>

<html>
    <head>
        <!-- Primary Meta Tags -->
        <title>Our Team — Black Swan 3D Printing</title>
        <meta name="title" content="Our Team — Black Swan 3D Printing" />
        <meta name="description" content="Take a look at the faces behind the Black Swan 3D Printing operation! These individuals work tirelessly while in college to provide you with the best quality!" />

        <!-- Open Graph / Facebook -->
        <meta property="og:type" content="website" />
        <meta property="og:url" content="https://blackswan3d.com/our-team/" />
        <meta property="og:title" content="Our Team — Black Swan 3D Printing" />
        <meta property="og:description" content="Take a look at the faces behind the Black Swan 3D Printing operation! These individuals work tirelessly while in college to provide you with the best quality!" />
        <meta property="og:image" content="https://blackswan3d.com/static/images/header.png" />

        <!-- Twitter -->
        <meta property="twitter:card" content="summary_large_image" />
        <meta property="twitter:url" content="https://blackswan3d.com/our-team/" />
        <meta property="twitter:title" content="Our Team — Black Swan 3D Printing" />
        <meta property="twitter:description" content="Take a look at the faces behind the Black Swan 3D Printing operation! These individuals work tirelessly while in college to provide you with the best quality!" />
        <meta property="twitter:image" content="https://blackswan3d.com/static/images/header.png" />


        <link rel="stylesheet" href='/static/styles/our_team.css'>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="https://blackswan3d.com/static/images/favicon.ico" sizes="any">
        <link rel="icon" href="https://blackswan3d.com/static/images/favicon.svg" type="image/svg+xml">

    </head>
    <body>
        <header>
            <img src="https://blackswan3d.com/static/images/transparent-logo-bird.svg" width="100" height="100">
            <div id="header-menu">
                <div class="header-button">
                    <a href="/about/">
                        <p>About</p>
                    </a>
                </div>
                <div class="header-button">
                    <a href="/showcase/">
                        <p>Our Work</p>
                    </a>
                </div>
                <div class="header-button">
                    <a href="/our-team/">
                        <p>Our Team</p>
                    </a>
                </div>
            </div>
        </header>

        <div id="content">
            <div id="rare-quality">
                <h1 id="rare-quality-text">OUR TEAM</h1>
            </div>

            <div class="human-container">
                <div class="photo-container">
                    <img src="/static/images/joseph.jpeg" alt="Photo of Joseph Sweatt" height="200" width="200">
                    <h2>Joseph Sweatt</h2>
                    <p>Founder</p>
                </div>
                <div class="text-container">
                    <h2>My Story</h2>
                    <p>Hello all!</p>
                    <br>
                    <p>I am Joseph Sweatt the founder of Black Swan 3D Printing. I am a 3rd Mechanical Enigneering at the University of California- Irvine.  I have interests CAD and Additive Manufacturing, Robotics, and Hydrogen Fuel Cell applications. I've been  in the Computer Aided Design and Product Design field for about 6 years and in Additive-manufacturing for 2. </p>
                    <br>
                    <p>Please enjoy touring our website!</p>


                    <h2>Contact Me!</h2>
                    <div class="contact_info">
                        <a href="https://www.linkedin.com/in/josephsweattjr/" target="_blank" rel="noopener noreferrer">
                            <img src="https://blackswan3d.com/static/images/icon_external.svg" height="20" width="auto" class="icon"> <p>LinkedIn</p>
                        </a>
                    </div>
                    <br>
                    <div class="contact_info">
                        <a href="mailto:joseph@blackswan3d.com">
                            <img src="https://blackswan3d.com/static/images/icon_mail.svg" height="20" width="auto" class="icon"> <p>joseph@blackswan3d.com</p>
                        </a>
                    </div>

                </div>
            </div>

            <div class="human-container">
                <div class="photo-container">
                    <img src="/static/images/isaiah.jpeg" alt="Photo of Isaiah Sweatt" height="200" width="200">
                    <h2>Isaiah Sweatt</h2>
                    <p>Social Media Manager</p>
                </div>
                <div class="text-container">
                    <h2>My Story</h2>
                    <p>I decide I wanted to be animator when use to watch Cartoons with my dad. And that moment I knew I wanted to make other laugh the same way I did.</p>


                    <h2>Contact Me!</h2>
                    <div class="contact_info">
                        <a href="https://isaiahsweatt.com/" target="_blank" rel="noopener noreferrer">
                            <img src="https://blackswan3d.com/static/images/icon_external.svg" height="20" width="auto" class="icon"> <p>https://isaiahsweatt.com/</p>
                        </a>
                    </div>

                </div>
            </div>

            <div class="human-container">
                <div class="photo-container">
                    <img src="/static/images/carlos.png" alt="Photo of Carlos Valdez" height="200" width="200">
                    <h2>Carlos Valdez</h2>
                    <p>Developer/Design</p>
                </div>
                <div class="text-container">
                    <h2>My Story</h2>
                    <p>As far as I can remember, I've always tried to make software easier to understand. Whether it was by trying to make an iPhone easier for my grandma to use or trying to change my day-to-day apps just to experience something different, software was always at the heart of it. It was no surprise that I'd end up studying Informatics as it puts the focus on one person and one person only: the user.</p>


                    <h2>Contact Me!</h2>
                    <div class="contact_info">
                        <a href="https://calejvaldez.com/" target="_blank" rel="noopener noreferrer">
                            <img src="https://blackswan3d.com/static/images/icon_external.svg" height="20" width="auto" class="icon"> <p>https://calejvaldez.com/</p>
                        </a>
                    </div>
                    <br>
                    <div class="contact_info">
                        <a href="mailto:calejvaldez@blackswan3d.com">
                            <img src="https://blackswan3d.com/static/images/icon_mail.svg" height="20" width="auto" class="icon"> <p>calejvaldez@blackswan3d.com</p>
                        </a>
                    </div>

                </div>
            </div>
        </div>

        <footer>
            <div id="footer-socials">
                <div class="footer-socials-logo"><a class="footer-socials-colors" href="https://www.etsy.com/shop/blackswanprinters/" target="_blank" rel="noopener noreferrer"><img src="https://blackswan3d.com/static/images/etsy.png" alt="Our Etsy shop" height="29" width="auto"></a></div>
                <div class="footer-socials-logo"><a class="footer-socials-colors" href="https://www.instagram.com/blackswan3dprinting/" target="_blank" rel="noopener noreferrer"><img src="https://blackswan3d.com/static/images/instagram.svg" alt="Our Instagram page" height="29" width="auto"></a></div>
                <div class="footer-socials-logo"><a class="footer-socials-colors" href="https://www.linkedin.com/company/blackswan3dprinting/" target="_blank" rel="noopener noreferrer"><img src="https://blackswan3d.com/static/images/linkedin.png" alt="Our LinkedIn page" height="29" width="auto"></a></div>
                <div class="footer-socials-logo"><a class="footer-socials-colors" href="https://tiktok.com/@blackswan3dprinters/" target="_blank" rel="noopener noreferrer"><img src="https://blackswan3d.com/static/images/tiktok.png" alt="Our TikTok page" height="29" width="auto"></a></div>
            </div>
            
            <br>

            <div id="footer-contact">
                <p><strong>Contact us!</strong></p>
                <p>Irvine, CA 92617</p>
                <p><a href="tel:+19313025988">(931) 302-5988</a></p>
                <p><a href="mailto:contact@blackswan3d.com">contact@blackswan3d.com</a></p>
            </div>
        </footer>
    </body>
</html>