#rare-quality {
  background: url(../images/quality.jpg) no-repeat center center fixed;
  background-size: cover;
  height: 500px;
}
@media only screen and (max-width: 600px) {
  #rare-quality {
    background-image: none;
    background-color: black;
    height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}

#rare-quality-text {
  padding: 60px 0 0 30px;
}
@media only screen and (min-width: 992px) {
  #rare-quality-text {
    font-size: 45px;
  }
}
@media only screen and (max-width: 600px) {
  #rare-quality-text {
    padding: 0;
  }
}

body {
  color: white;
  background-color: black;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin: 0;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#header-menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.header-menu-button {
  margin: 0 10px;
  border: none;
  background-color: transparent;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}
.header-menu-button:hover {
  color: #F4E04D;
  cursor: pointer;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
footer a {
  color: white;
  text-decoration: none;
}
footer a:hover {
  color: #F4E04D;
  cursor: pointer;
}

.footer-socials-colors {
  filter: brightness(0) invert(1);
}
.footer-socials-colors:hover {
  filter: brightness(0) saturate(100%) invert(81%) sepia(98%) saturate(400%) hue-rotate(333deg) brightness(104%) contrast(91%);
}

#footer-socials {
  display: flex;
  align-items: center;
}

.footer-socials-logo {
  margin: 0 25px;
}

#our-mission {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  color: black;
  padding: 35px;
  background-color: white;
}

#mission-text {
  margin: 0 20px;
  word-wrap: break-word;
  text-align: center;
  font-size: 18px;
  width: 100%;
}
#mission-text h1 {
  padding: 60px 0 0 30px;
  padding: 0px;
  font-size: 28px;
}
@media only screen and (min-width: 992px) {
  #mission-text h1 {
    font-size: 35px;
    text-decoration-line: underline;
    text-decoration-color: #050E36;
  }
}
@media only screen and (max-width: 600px) {
  #mission-text h1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 60px 0 0 0;
  }
}

#joseph-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: purple;
  height: 300px;
  width: 300px;
  border-radius: 0 20px 20px 0;
}

#history {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: black;
  margin: 35px 0;
  padding: 0 0 35px 0;
}
#history h3 {
  font-weight: normal;
}
#history p {
  text-align: center;
  margin: 0 50px;
}
@media only screen and (min-width: 992px) {
  #history p {
    margin: 0 200px;
  }
}

#joseph-swan-quote {
  min-width: 250px;
  max-width: 450px;
  padding: 20px;
  border: 1px solid black;
  border-radius: 10px;
  text-align: center;
  margin: 20px 10px;
}
#joseph-swan-quote h3 {
  font-style: italic;
}

#company-history {
  text-decoration-line: underline;
  text-decoration-color: #050E36;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.photo-container {
  border: 2px solid black;
  padding: 5px 5px;
  margin: 0 35px;
  text-align: center;
  height: 300px;
}

.header-button {
  height: 20px;
  width: auto;
  margin: 20px;
}
.header-button a {
  text-decoration: none;
  color: white;
}
.header-button:hover {
  cursor: pointer;
}
.header-button:hover a {
  color: #F4E04D;
}

/*# sourceMappingURL=about.css.map */
