$YELLOW: #F4E04D;
$DARKBLUE: #050E36;
$BLACK: black;
$WHITE: white;

$FONT: Georgia, 'Times New Roman', Times, serif;
$QUALITYIMAGE: url(../images/quality.jpg) no-repeat center center fixed;

@mixin FLEXROW{
    display: flex;
    flex-direction: row;
}

@mixin FLEXCOL{
    display: flex;
    flex-direction: column;
}

@mixin header-text($underline-color) {
    padding: 60px 0 0 30px;

    @media only screen and (min-width: 992px) {
        @if $underline-color == $DARKBLUE {
            font-size: 35px;
            text-decoration-line: underline;
            text-decoration-color: $underline-color;
        } @else {
            font-size: 45px;
        }
        
    }

    @media only screen and (max-width: 600px) {
        @if $underline-color == $YELLOW {
            padding: 0;
        } @else {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            text-align: center;
            padding: 60px 0 0 0;
        }
    }
}

#rare-quality {
    background: $QUALITYIMAGE;
    background-size: cover;
    height: 500px;

    @media only screen and (max-width: 600px) {
        background-image: none;
        background-color: $BLACK;
        height: 300px;
        display: flex;
        flex-direction: row;

        justify-content: center;
        align-items: center;
        text-align: center;
    }
}

#rare-quality-text {
    @include header-text($YELLOW);
}

body {
    color: $WHITE;
    background-color: $BLACK;
    font-family: $FONT;
    margin: 0;
}

header {
    @include FLEXROW();
    justify-content: space-between;
}

#header-menu {
    @include FLEXROW();
    justify-content: center;
    align-items: center;
}

.header-menu-button {
    margin: 0 10px;
    border: none;
    background-color: transparent;
    color: $WHITE;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;

    &:hover {
        color: $YELLOW;
        cursor: pointer;
    }
}

footer {
    @include FLEXCOL();
    justify-content: center;
    align-items: center;

    text-align: center;

    a {
        color: $WHITE;
        text-decoration: none;
        &:hover {
            color: $YELLOW;
            cursor: pointer;
        }
    }
}

.footer-socials-colors {
    filter: brightness(0) invert(1);

    &:hover {
        filter: brightness(0) saturate(100%) invert(81%) sepia(98%) saturate(400%) hue-rotate(333deg) brightness(104%) contrast(91%);
    }
}

#footer-socials {
    display: flex;
    align-items: center;
  }
  
.footer-socials-logo {
    margin: 0 25px;
}

#our-mission {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: center;

    color: $BLACK;

    padding: 35px;

    background-color: $WHITE;
}

#mission-text {
    margin: 0 20px;
    word-wrap: break-word;
    text-align: center;
    font-size: 18px;
    width: 100%;

    h1 {
        @include header-text($DARKBLUE);
        padding: 0px;
        font-size: 28px;
    }
}

#joseph-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: purple;
    height: 300px;
    width: 300px;

    border-radius: 0 20px 20px 0;
}

#history {
    display: flex;
    flex-direction: column;
    
    justify-content: center;
    align-items: center;

    background-color: white;
    color: black;

    margin: 35px 0;
    padding: 0 0 35px 0;

    h3 {
        font-weight: normal;
    }

    p {
        text-align: center;
        margin: 0 50px;

        @media only screen and (min-width: 992px) {
            margin: 0 200px;
        }
    }
}

#joseph-swan-quote {
    min-width: 250px;
    max-width: 450px;

    padding: 20px;
    border: 1px solid $BLACK;
    border-radius: 10px;

    text-align: center;

    margin: 20px 10px;

    h3 {
        font-style: italic;
    }
}

#company-history {
    text-decoration-line: underline;
    text-decoration-color: $DARKBLUE;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.photo-container {
    border: 2px solid $BLACK;
    padding: 5px 5px;
    margin: 0 35px;

    text-align: center;
    height: 300px
}
