$YELLOW: #F4E04D;
$DARKBLUE: #050E36;
$BLACK: black;
$WHITE: white;

$FONT: Georgia, 'Times New Roman', Times, serif;
$QUALITYIMAGE: url(../images/quality.jpg) no-repeat center center fixed;

@mixin FLEXROW{
    display: flex;
    flex-direction: row;
}

@mixin FLEXCOL{
    display: flex;
    flex-direction: column;
}

@mixin header-text($underline-color) {
    padding: 60px 0 0 30px;
    text-decoration-line: underline;
    text-decoration-color: $underline-color;
}

#rare-quality {
    background: $QUALITYIMAGE;
    background-size: cover;
    height: 500px;
}

#rare-quality-text {
    @include header-text($YELLOW);
}

body {
    color: $WHITE;
    background-color: $BLACK;
    font-family: $FONT;
}

header {
    @include FLEXROW();
    justify-content: space-between;
}

#header-menu {
    @include FLEXROW();
    justify-content: center;
    align-items: center;
}

.header-menu-button {
    margin: 0 10px;
    border: none;
    background-color: transparent;
    color: $WHITE;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;

    &:hover {
        color: $YELLOW;
        cursor: pointer;
    }
}

footer {
    @include FLEXCOL();
    justify-content: center;
    align-items: center;

    text-align: center;

    a {
        color: $WHITE;
        text-decoration: none;
        &:hover {
            color: $YELLOW;
            cursor: pointer;
        }
    }
}

.footer-socials-colors {
    filter: brightness(0) invert(1);
}

#footer-socials {
    display: flex;
    align-items: center;
  }
  
.footer-socials-logo {
    margin: 0 25px;
}

#our-mission {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    color: $BLACK;

    padding: 35px 0;

    background-color: $WHITE;
}

#mission-text {

    margin: 0 20px;

    word-wrap: break-word;
    flex: 2;

    h1 {
        @include header-text($DARKBLUE)
    }
}

#joseph-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: purple;
    height: 300px;
    width: 300px;

    border-radius: 0 20px 20px 0;
}

#history {
    display: flex;
    flex-direction: column;
    
    justify-content: center;
    align-items: center;

    background-color: white;
    color: black;

    margin: 35px 0;
    padding: 0 0 35px 0;

    h1 {
        @include header-text($DARKBLUE)
    }

    p {
        text-align: center;
        margin: 0 50px;
    }
}

#joseph-swan-quote {
    min-width: 250px;
    max-width: 450px;

    padding: 20px;
    border: 1px solid $BLACK;
    border-radius: 10px;

    text-align: center;

    margin: 20px 10px;

    h3 {
        font-style: italic;
    }
}

