$YELLOW: #F4E04D;
$DARKBLUE: #050E36;
$BLACK: black;
$WHITE: white;

$FONT: Georgia, 'Times New Roman', Times, serif;
$QUALITYIMAGE: url(../images/quality.jpg) no-repeat center center fixed;

@mixin FLEXROW{
    display: flex;
    flex-direction: row;
}

@mixin FLEXCOL{
    display: flex;
    flex-direction: column;
}

@mixin header-text($underline-color) {
    padding: 60px 0 0 30px;
    text-decoration-line: underline;
    text-decoration-color: $underline-color;

    @media only screen and (min-width: 992px) {
        @if $underline-color == $YELLOW {
            font-size: 45px;
        } @else {
            font-size: 35px;
        }
        
    }

    @media only screen and (max-width: 600px) {
        @if $underline-color == $YELLOW {
            padding: 0;
        } @else {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            text-align: center;
            padding: 60px 0 0 0;
        }
    }
}

#rare-quality {
    background: $QUALITYIMAGE;
    background-size: cover;
    height: 500px;

    @media only screen and (max-width: 600px) {
        display: flex;
        flex-direction: row;

        justify-content: center;
        align-items: center;
        text-align: center;
    }
}

#rare-quality-text {
    @include header-text($YELLOW);
}

body {
    margin: 0;
    color: $WHITE;
    background-color: $BLACK;
    font-family: $FONT;
}

header {
    @include FLEXROW();
    justify-content: space-between;
}

#header-menu {
    @include FLEXROW();
    justify-content: center;
    align-items: center;
}

.header-menu-button {
    margin: 0 10px;
    border: none;
    background-color: transparent;
    color: $WHITE;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;

    &:hover {
        color: $YELLOW;
        cursor: pointer;
    }
}

footer {
    @include FLEXCOL();
    justify-content: center;
    align-items: center;

    text-align: center;

    a {
        color: $WHITE;
        text-decoration: none;
        &:hover {
            color: $YELLOW;
            cursor: pointer;
        }
    }
}

.footer-socials-colors {
    filter: brightness(0) invert(1);
}

#footer-socials {
    display: flex;
    align-items: center;
  }
  
.footer-socials-logo {
    margin: 0 25px;
}

.heading-text-blue {
    @include header-text($DARKBLUE);
}

.human-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: $WHITE;
    color: $BLACK;

    justify-content: center;

    margin: 35px 0;
    padding: 35px;
}

.photo-container {
    border: 2px solid $BLACK;
    padding: 20px 5px;
    margin: 0 35px;

    text-align: center;
    max-height: 400px;
}

.text-container {
    flex: 3;
    min-width: 300px;
    word-wrap: break-word;

    @media only screen and (max-width: 600px) {
        text-align: center;
    } 
}