$YELLOW: #F4E04D;
$DARKBLUE: #050E36;
$BLACK: black;
$WHITE: white;

$FONT: Georgia, 'Times New Roman', Times, serif;
$QUALITYIMAGE: url(../images/quality.jpg) no-repeat center center fixed;
$QUALITYIMAGE_MOBILE: url(../images/quality.jpg) no-repeat center center scroll;

@mixin FLEXROW{
    display: flex;
    flex-direction: row;
}

@mixin FLEXCOL{
    display: flex;
    flex-direction: column;
}

@mixin header-text($underline-color) {
    padding: 60px 0 0 30px;

    @media only screen and (min-width: 992px) {
        @if $underline-color == $DARKBLUE {
            font-size: 35px;
            text-decoration-line: underline;
            text-decoration-color: $underline-color;
        } @else {
            font-size: 45px;
        }
        
    }

    @media only screen and (max-width: 600px) {
        @if $underline-color == $YELLOW {
            padding: 0;
        } @else {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            text-align: center;
            padding: 60px 0 0 0;
        }
    }
}

#rare-quality {
    background: $QUALITYIMAGE;
    background-size: cover;
    height: 500px;

    @media only screen and (max-width: 600px) {
        background: $QUALITYIMAGE_MOBILE;
        display: flex;
        flex-direction: row;

        justify-content: center;
        align-items: center;
        text-align: center;
    }
}

#rare-quality-text {
    @include header-text($YELLOW);
}

#showcase-inner-instagram {
    @include FLEXCOL();
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.showcase {
    color: $BLACK;
    background-color: $WHITE;
    width: 100%;
    min-height: 350px;
    margin: 20px 0;

    @media only screen and (min-width: 992px) {
        height: 750px;
        margin: 40px 20px;
        width: 650px;
    }
    
}

#showcase-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: center;
    align-items: center;

    height: 100%;
}

#etsy-shop-display {
    margin: 0 35px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

body {
    margin: 0;
    color: $WHITE;
    background-color: $BLACK;
    font-family: $FONT;
}

header {
    @include FLEXROW();
    justify-content: space-between;
}

#header-menu {
    @include FLEXROW();
    justify-content: center;
    align-items: center;
}

.header-menu-button {
    margin: 0 10px;
    border: none;
    background-color: transparent;
    color: $WHITE;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;

    &:hover {
        color: $YELLOW;
        cursor: pointer;
    }
}

footer {
    @include FLEXCOL();
    justify-content: center;
    align-items: center;

    text-align: center;

    a {
        color: $WHITE;
        text-decoration: none;
        &:hover {
            color: $YELLOW;
            cursor: pointer;
        }
    }
}

.footer-socials-colors {
    filter: brightness(0) invert(1);
}

#footer-socials {
    display: flex;
    align-items: center;
  }
  
.footer-socials-logo {
    margin: 0 25px;
}

.heading-text-blue {
    @include header-text($DARKBLUE);
}