@use "./constants.scss";

#our_mission {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    color: constants.$BLACK;
    background-color: constants.$WHITE;

    @include constants.SPACE_FOR_SECTION();
}

#mission_text {
    margin: 0 20px;
    word-wrap: break-word;
    text-align: center;
    font-size: 20px;

    h1 {
        @include constants.HEADING_TEXT(constants.$BLACK, constants.$BLUE);
        padding: 0px;
        font-size: 28px;
    }
}