@use "./constants.scss";

.button {
    @include constants.CLICKABLE_TEXT(constants.$BLACK, constants.$BLACK);
    color: black;
    padding: 15px 20px;
    background-color: white;
    font-family: futura;

    width: 200px;
    min-height: 25px;

    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;
}