@use "./constants.scss";

.etsy_listing {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    text-align: center;

    width: 280px;
    height: 350px;

    border: 1px white solid;
    padding: 40px;
    margin: 20px;

    text-wrap:balance;

    h1 {
        font-size: 40px;
        font-weight: 600;
    }

    p, a {
        font-family: futura;
        font-weight: 500;
        color: white;

        margin: 20px 0;
    }

    p {
        width: 350px;

        @media only screen and (max-width: 480px) {
            width: 300px;
        }
    }

    .etsy_button {
        @include constants.CLICKABLE_TEXT(constants.$BLACK, constants.$BLACK);
        color: black;
        padding: 15px 20px;
        background-color: white;
    
        &:hover {
            box-shadow: constants.$BLUE 3px 3px 3px;
        }
    }
}