@use "../styles/constants.scss";

#footer {
    color: constants.$WHITE;
    background-color: constants.$BLACK;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;

    a {
        @include constants.CLICKABLE_TEXT(constants.$WHITE, constants.$YELLOW);
    }

    hr {
        color: white;
        width: 90%;
    }
}

.footer_socials_colors {
    filter: brightness(0) invert(1);

    &:hover {
        filter: brightness(0) saturate(100%) invert(81%) sepia(98%) saturate(400%) hue-rotate(333deg) brightness(104%) contrast(91%);
    }
}

#footer_socials {
    display: flex;
    align-items: flex-start;
  }
  
.footer_socials_logo {
    margin: 0 35px;
}

#footer_contact {
    text-align: left;
}

#footer_content_social_container {
    padding: 20px 0;

    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}