@use "../styles/constants";

.header {
    background-color: constants.$BLACK;
    padding: 30px 65px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#header_menu_buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    flex-wrap: wrap;
}

.header_button {
    padding: 0 35px;
    font-family: futura Arial, Helvetica, sans-serif;
    font-size: 20px;

    margin: 5px 0;

    @include constants.CLICKABLE_TEXT(constants.$WHITE, constants.$YELLOW);
}