@use "./constants.scss";

.body {
    color: white;
    padding: 0 75px;

    @media only screen and (max-width: 480px) {
        padding: 50px;
    }
}

.headline {
    margin: 50px 0;

    h1 {
        font-size: 100px;
        font-weight: 800;

        @media only screen and (max-width: 480px) {
            font-size: 50px;
        }
    }

    p, a {
        font-weight: 500;
        color: white;

        margin: 20px 0;
    }

    p {width: 300px;}
}