@use "../styles/constants";

.header {
    background-color: constants.$BLACK;
    padding: 15px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#header_menu_buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.header_button {
    padding: 10px 15px;

    @include constants.CLICKABLE_TEXT(constants.$WHITE, constants.$YELLOW);
}